<div class="flex justify-between items-center bg-black text-white p-4">
    <div>
        <a routerLink="/" class="flex items-center space-x-2 lg:space-x-3 xl:space-x-4">
            <img src="assets/icons/logo.png" alt="Logo de Logoipsum" class="h-10 w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14" />
            <p class="logo font-semibold">Logoipsum</p>
        </a>
    </div>

    <nav class="hidden md:flex justify-end space-x-6 md:space-x-4 lg:space-x-8 text-white font-semibold uppercase text-lg lg:text-lg xl:text-xl ml-5 mr-5 lg:ml-20 lg:mr-20">
        <a routerLink="/">Home</a>
        <a routerLink="tarifs">Tarifs</a>
        <a routerLink="/">Our Services</a>
        <a routerLink="/">Community</a>
    </nav>

</div>

