<!-- Hero-->
<section class="m-5">
  <div class="bg-[url(/assets/images/exam1.jpg)] bg-no-repeat bg-cover bg-center p-4 w-full">
    
    <div class="p-2 absolute text-white uppercase">
        <h1 class="">Travaillez intelligemment, collaborez partout</h1>
    </div>
    
  </div>
</section>


<!-- Worksphere-->
<section class="mt-[50px]">
  <div class="w-9/12 mx-auto py-10">
    <h2 class="">Pourquoi choisir WorkSphere ?</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        <app-card-work *ngFor="let workElement of workElements" [data]="workElement"></app-card-work>
    </div>

  </div>
</section>

<!-- Outils-->
<section class="mt-[50px] pt-[50px] bg-gray-200">
    <div class="w-9/12 mx-auto py-10">
  
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="pt-4 pe-[60px]">
                <h2 class="">Outils essentiels</h2>
                <p class="mt-4">Lorem ipsum dolor sit amet. Sed officiis veritatis eos laborum molestias in temporibus fugit eos nihil dicta aut illum consequatur!</p>
            </div>

            <app-card-outils *ngFor="let toolElement of toolElements" [dataT]="toolElement"></app-card-outils>

      </div>
  
    </div>
</section>
