<div class="w-10/12 mx-auto pt-[70px] pb-[50px]">
    <h2 class="text-start text-3xl font-semibold">Tarifs</h2>
    <div class="my-[40px] grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">

        <!-- Card Basic -->
        <div class="flex flex-col justify-between items-start p-[30px] border border-grey-500 rounded-lg font-medium min-h-[400px]">
            <div class="text-white text-xs uppercase bg-main rounded-full p-2">Basic</div>
            <p class="my-4 text-black text-5xl font-bold"><span class="text-6xl font-extrabold">$15</span>/mo</p>
            <p>Pour les indépendants</p>
            <div class="flex flex-col space-y-2 mt-4 space-y-4">
                <p class="flex items-center"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Accès aux outils essentiels</p>
                <p class="flex items-center"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Messagerie instantanée</p>
                <p class="flex items-center"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Stockage limité</p>
                <p class="flex items-center"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Support standard</p>
                <p class="flex items-center mb-[20px]"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Accès mobile</p>
            </div>

            <div class="mt-auto pt-4 w-full">
                <a class="btn bg-main text-white flex items-center justify-center py-[20px] w-full text-center rounded-lg hover:bg-dark-blue transition duration-300">
                    <span>Démarrer</span>
                    <img src="assets/icons/arrow-up.svg" alt="valider" width="18" height="18" class="arrow-up ml-2">
                </a>
            </div>
        </div>

        <!-- Card Pro -->
        <div class="flex flex-col justify-between items-start p-[30px] bg-main rounded-lg font-medium text-white min-h-[400px]">
            <div class="text-main text-xs uppercase bg-white rounded-full p-2">Pro</div>
            <p class="my-4 text-5xl font-bold"><span class="text-6xl font-extrabold">$25</span>/mo</p>
            <p>Pour les équipes en croissance</p>
            <div class="flex flex-col space-y-2 mt-4 space-y-4">
                <p class="flex items-center"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Accès aux outils essentiels</p>
                <p class="flex items-center"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Messagerie instantanée</p>
                <p class="flex items-center"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Stockage limité</p>
                <p class="flex items-center"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Support standard</p>
                <p class="flex items-center mb-[20px]"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Accès mobile</p>
            </div>

            <div class="mt-auto pt-4 w-full">
                <a class="btn bg-main text-white flex items-center justify-center py-3 w-full text-center rounded-lg hover:bg-dark-blue transition duration-300">
                    <span>Démarrer</span>
                    <img src="assets/icons/arrow-up.svg" alt="valider" width="18" height="18" class="arrow-up ml-2">
                </a>
            </div>
        </div>

        <!-- Card Elite -->
        <div class="flex flex-col justify-between items-start p-[30px] border border-grey-500 rounded-lg font-medium min-h-[400px]">
            <div class="text-white text-xs uppercase bg-main rounded-full p-2">Elite</div>
            <p class="my-4 text-black text-5xl font-bold"><span class="text-6xl font-extrabold">$30</span>/mo</p>
            <p>Expérience ultime</p>
            <div class="flex flex-col space-y-2 mt-4 space-y-4">
                <p class="flex items-center"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Accès aux outils essentiels</p>
                <p class="flex items-center"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Messagerie instantanée</p>
                <p class="flex items-center"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Stockage limité</p>
                <p class="flex items-center"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Support standard</p>
                <p class="flex items-center mb-[20px]"><img src="assets/icons/check.svg" alt="valide" width="18" height="18" class="check-icon me-2"> Accès mobile</p>
            </div>

            <div class="mt-auto pt-4 w-full">
                <a class="btn bg-main text-white flex items-center justify-center py-3 w-full text-center rounded-lg hover:bg-dark-blue transition duration-300">
                    <span>Démarrer</span>
                    <img src="assets/icons/arrow-up.svg" alt="valider" width="18" height="18" class="arrow-up ml-2">
                </a>
            </div>
        </div>

    </div>
</div>
